body {
  min-height: 2699px;
  background: rgb(26, 25, 25);
}

.jumbotron {
  background-size: cover;
  background: url(img/4.jpg);
  background-size: 1200px;
  background-position-x: center;
  background-blend-mode: multiply;
}

.jumbotron {
  padding-top: 6rem;
  padding-inline-start: 0rem;
  background-color: dimgray;
}

section {
  padding-top: 6rem;
}

#projects {
  background-color: dimgrey;
}
